<!-- ##### Editorial Post Area Start ##### -->
<div class="editors-pick-post-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <!-- Editors Pick -->
            <div class="col-12 col-md-7 col-lg-9">
                <editorial-post></editorial-post>
            </div>

            <!-- World News -->
            <div class="col-12 col-md-5 col-lg-3">
                <editorial-thumb></editorial-thumb>
            </div>
        </div>
    </div>
</div>
<!-- ##### Editorial Post Area End ##### -->