<div class="blog-area section-padding-0-80">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="blog-posts-area">
          <app-main-content></app-main-content>
          <!-- Comment Area Start -->
          <div class="comment_area clearfix">
            <app-comment-list></app-comment-list>
          </div>
          <div class="post-a-comment-area section-padding-80-0">
            <app-add-comment></app-add-comment>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="blog-sidebar-area">

          <latest-side-post></latest-side-post>
          <popular-side-post></popular-side-post>
          <newsletter></newsletter>

        </div>
      </div>
    </div>
  </div>
</div>
