<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
    <div class="container">
        <div class="row">            
            <!-- Feature Left Section -->
                <feature-post></feature-post>
            <!-- Feature Left Section End -->
            
            <!-- Feature Right Section Start -->
                <feature-thumb></feature-thumb>
            <!-- Feature Right Section End -->
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->