<div class="blog-posts-area">

  <!-- Single Featured Post -->
  <div *ngFor="let article of articles | paginate: { itemsPerPage: 10, currentPage: p }"
    class="single-blog-post featured-post mb-30">
    <div class="post-thumb">
      <a [routerLink]="[ article.category | lowercase , article.alias ]"><img
          src="{{ envService.imageUrl }}/{{ article.image }}" alt=""></a>
    </div>
    <div class="post-data">
      <a [routerLink]="[ article.content | lowercase ]" class="post-catagory">{{ article.content }}</a>
      <a [routerLink]="[ article.category | lowercase, article.alias ]" class="post-title">
        <h6>{{ article.title }}</h6>
      </a>
      <div class="post-meta">
        <p class="post-author">By <a href="#">{{ article.author }}</a></p>
        <p class="post-excerp">{{ article.description | slice:0:200 }} ........</p>
        <!-- Post Like & Post Comment -->
        <div class="d-flex align-items-center">
          <a href="#" class="post-like"><img src="assets/img/core-img/like.png" alt=""> <span>392</span></a>
          <a href="#" class="post-comment"><img src="assets/img/core-img/chat.png" alt=""> <span>10</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

  <nav aria-label="Page navigation example">
    <pagination-template #p="paginationApi" (pageChange)="pageChange.emit($event)">
      <ul class="pagination mt-50">
        <li class="page-item" [class.disabled]="p.isFirstPage()">
          <a class="page-link" *ngIf="!p.isFirstPage()" (click)="p.previous()"><</a>
        </li>
        <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
          <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="page-link">{{ page.label }}</a>
          <a class="page-link" *ngIf="p.getCurrent() === page.value">{{ page.label }}</a>
        </li>
        <li class="page-item" [class.disabled]="p.isLastPage()">
          <a class="page-link" *ngIf="!p.isLastPage()" (click)="p.next()">></a>
        </li>
      </ul>
    </pagination-template>
  </nav>
