<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
    <div class="container">
        <div class="row">
            <!-- Feature Left Section -->
            <div class="col-12 col-md-6 col-lg-8">
                    <feature-post></feature-post>
            </div>
            <!-- Feature Left Section End -->

            <!-- Feature Right Section Start -->
            <div class="col-12 col-md-6 col-lg-4">
                <feature-thumb></feature-thumb>
            </div>
            <!-- Feature Right Section End -->
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->
