<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-0-80">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-8">
            <category-post></category-post>
          </div>

          <div class="col-12 col-lg-4">
              <div class="blog-sidebar-area">
                <latest-side-post></latest-side-post>

                <popular-side-post></popular-side-post>

                <newsletter></newsletter>

                <comment></comment>

              </div>
          </div>

      </div>
  </div>
</div>
<!-- ##### Blog Area End ##### -->
