<div class="section-heading">
    <h6>Editor’s Pick</h6>
</div>

<div class="row">
    <!-- Single Post -->
    <div *ngFor="let article of articles | paginate: { id: 'editorial', itemsPerPage: 6, currentPage: p }" class="col-12 col-lg-4">
        <div class="single-blog-post">
            <div class="post-thumb">
                <a href="#"><img src="{{ envService.imageUrl }}/{{ article.image }}" alt=""></a>
            </div>
            <div class="post-data">
                <a [routerLink]="[ article.content | lowercase, article.category | lowercase, article.alias ]" class="post-title">
                    <h6>{{ article.title | slice:0:20 }}</h6>
                </a>
                <div class="post-meta">
                    <div class="post-date"><a href="#">February 11, 2018</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Post End -->
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination mt-50">
    <li class="page-item">
      <pagination-controls id='editorial' class="{page-link : true}" (pageChange)="p = $event;">
      </pagination-controls>
    </li>
  </ul>
</nav>
