@font-face {
  font-family: 'icomoon';
  src:  '../fonts/icomoon.eot?a8d3tv';
  src:  '../fonts/icomoon.eot?a8d3tv#iefix' format('embedded-opentype'),
        '../fonts/icomoon.ttf?a8d3tv' format('truetype'),
        '../fonts/icomoon.woff?a8d3tv' format('woff'),
        '../fonts/icomoon.svg?a8d3tv#icomoon' format('svg');
  font-weight: normal;
  font-style: normal;
}
